---
import "../styles/style.css";
const { img, text, url } = Astro.props;
---

<article class="link">
  <div>
    <img src="/img/pil.svg" alt="Linkpil" />
    <a href={url}>{text}</a>
  </div>
</article>

<style>
  img {
    max-width: 15%;
  }

  .link {
    margin-top: 0.5rem;
  }

  /* desktop */
  @media (min-width: 1200px) {
    img {
      max-width: 10%;
      margin-left: 2rem;
    }

    a {
      margin-left: 1rem;
    }

    .link {
      margin-top: 1rem;
    }
  }
</style>
